<div class="card-body">
    <div class="list-group">
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-comment fa-fw"></i> General
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-twitter fa-fw"></i> Payment Information
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-envelope fa-fw"></i> Message Sent
        </a>
    </div>
    <!-- /.list-group -->
</div>
