<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Ad Bid Space</h1>
            <form role="form" novalidate (ngSubmit)="onSignup(user)" [formGroup]="user">
                <div class="form-content">
                    <div class="form-group">
                        <input
                        type="text"
                        class="form-control input-underline input-lg"
                        id="fullName"
                        placeholder="Full Name"
                        formControlName="name">
                    </div>
                    <div formGroupName="account">
                      <div class="form-group">
                          <input
                          type="text"
                          class="form-control input-underline input-lg"
                          id="email"
                          placeholder="Email"
                          formControlName="email">
                      </div>
                      <div class="form-group">
                          <input
                          type="password"
                          class="form-control input-underline input-lg"
                          id="password"
                          placeholder="Password"
                          formControlName="password">
                      </div>
                      <div class="form-group">
                          <input
                          type="password"
                          class="form-control input-underline input-lg"
                          id="confirmPassword"
                          placeholder="Confirm Password"
                          formControlName="confirmPassword">
                      </div>
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onSignup()"> Register </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </form>
        </div>
    </div>
</div>
